<div class="db-visualization-box">
  <mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
    <mat-tab label="Tabellenansicht"></mat-tab>
    <mat-tab label="ER-Diagramm"></mat-tab>
  </mat-tab-group>
  <div *ngIf="loading">Lade Datenbankstruktur...</div>
  <div *ngIf="error" class="error">{{ error }}</div>
  <ng-container *ngIf="structure">
    <ng-container *ngIf="viewMode === 'table'">
      <div class="tables-flex-row">
        <div *ngFor="let tableName of structure | keyvalue" class="table-box">
          <div class="table-title">{{ tableName.key }}</div>
          <table>
            <thead>
              <tr>
                <th *ngFor="let col of asArray(tableName.value.columns)">{{ col }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of asArray(tableName.value.rows)">
                <td *ngFor="let col of asArray(tableName.value.columns)">{{ row[col] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="viewMode === 'er'">
      <vflow [nodes]="erNodes" [edges]="erEdges" [view]="erViewSize"></vflow>
      <div *ngIf="!erNodes.length" style="color:red;">Keine Nodes im Diagramm!</div>
    </ng-container>
  </ng-container>
</div>
